html,body{
	background: rgb(255, 255, 255);
	font-family: 'Lato',sans-serif;
}

@import url(//fonts.googleapis.com/css?family=Lato:700);

nav{	
	width:100%;
	min-width: 960px;
	height: 75px;
	background: rgba(57,57,57,1);
	font-size:16px;
	text-align:center;
	text-transform: uppercase;
}

nav ul{
	position: absolute;
	right:10px;
	margin-top:15px;
}

nav li{
	float:left;
	line-height: 40px;
}

nav li a{
	color:rgb(255,255,255);
	text-decoration: underline;
	margin-right:20px;
}

.navPill {
	border-radius:4px;
	width:105px;
	background-color: #7dc36b;	
	line-height:40px;
	display:block;
	text-decoration: none;
}

.container{
	width:960px;
	margin:auto;
}

/*FORMS----------------------------------------------------------------*/
input{
	width: 323px;
	text-align: center;
	height: 50px;
	font-size: 18px;
	border-radius: 3px;
	outline:none;
	display:block;
	margin: 0 auto 18px auto;
	border: 1px #c1c1c1 solid;
	color:rgb(198,198,198);
}

input[type='submit']{
	border-radius:4px;
	width:323px;
	background-color: rgb(0, 95, 197);
	line-height:40px;
	display:block;
	text-decoration: none;
	color:rgb(255,255,255);
}

.centerForm{
	margin:90px auto 0 auto;
	width:500px;
}

form img{
	display: block;
	margin: 0 auto 30px;
}

.centerForm footer p, .centerForm footer a {
	color:rgb(198,198,198);
	text-align: center;
}